.div-relative{
	position: relative;
	height: 530px;
}

.user-activites {
	border: 1px dashed black;
	border-radius: 25px;
	width: 50%;
    height: 10rem;
    margin-left: 450px;
	bottom: 0;
	position: absolute;
}

.user-activites > h2 {
	text-align: center;
}

#licit_window {
	overflow-y: scroll;
	background-color: rgba(128, 128, 128, 0.26);
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#licit_window::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space (Safari and Chrome) */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#licit_window h2{
	margin-top: 10px;
	margin-bottom: 5px;
}

#event{
	text-align: center;
	font-size: 18px;
}