.div-relative{
	display: flex;
	justify-content: center;
}

.user-activites {
	border-radius: 10px;
	width: 50%;
    height: 10rem;
}

.user-activites > h2 {
	text-align: center;
}

#licit_window {
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#licit_window::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space (Safari and Chrome) */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#licit_window h2{
	margin-top: 10px;
	margin-bottom: 5px;
}

#event{
	text-align: center;
	font-size: 18px;
}