<div class="layout">
    <app-licit-name></app-licit-name>
    <div class="video-view">
        <img style="-webkit-user-select: none;" class="video" id="videoPlayer" src="http://agiliscucc.ddns.net:56000/mjpeg" width="100%" height="100%">
        <div class="video-content">
            <app-timer></app-timer>
            <div class="licit-ui">
                <app-highest-bid></app-highest-bid>
                <div class="licit-button-group">
                    <app-raise-bid></app-raise-bid>
                    <app-licit-buttons></app-licit-buttons>
                </div>
            </div>
            <app-user-activities></app-user-activities>
        </div>
    </div>
</div>