<div class="layout">
    <app-timer></app-timer>
    <app-licit-name></app-licit-name>
    <div class="video-view">
        <video class="video" id="videoPlayer" width="100%" height="100%" controls muted autoplay>
            <source src="/video" type="video/mp4" />
        </video>
        <div class="video-content">
            <div class="licit-ui">
                <app-highest-bid></app-highest-bid>
                <div class="licit-button-group">
                    <app-raise-bid></app-raise-bid>
                    <app-licit-buttons></app-licit-buttons>
                </div>
            </div>
            <app-user-activities></app-user-activities>
        </div>
    </div>
</div>