.layout {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(128, 128, 128, 0.26);
	font-family: 'Lato', sans-serif;
}

.video-view {
	position: relative;
	height: 100%;
}

.video-view .video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-view .video-content {
	position: relative;
	display: grid;
	grid-template-columns: auto 65% auto;
	grid-template-rows: auto auto 45vh auto;
}

.highest-bid {
	grid-column: 1;
	grid-row: 2;
	align-self: center;
}

.licit-button-group {
	justify-self: center;
	grid-column: 3;
	grid-row: 2;
}

.timer {
	justify-self: center;
	align-self: center;
	grid-column: 2;
	grid-row: 2;
}

.user-activities {
	grid-column: 2;
	grid-row: 4;
	align-self: flex-end;
}

.licit-name {
	grid-column: 1 / span 3;
	grid-row: 1;
}