<div class="frame">
	<h1>Plan B Auction Portal</h1>
	<div class="input-field">
		<label for="username" >Username:</label>
		<input id="username" type="text" placeholder="Unique username" (keyup)="onKey($event)" />
	</div>
	<p class="error" *ngIf="error == 'wrong-username' ">This username is taken. Please choose another one</p>
	<p class="error" *ngIf="error == 'no-username' ">Please choose a username to enter</p>
	<div class="button-group">
		<button (click)="onLogin()"><span>Log In </span></button>
	</div>
</div>
