<div role="main">
  <!-- TODO: Stream should go here -->
  <video class="stream" width="100%" height="100%"></video>

  <div class="layout">
    <!-- Timer -->
    <div class="timer">
      <p>12</p>
      <p>:</p>
      <p>50</p>
    </div>

    <!-- Title -->
    <h1 class="title">{{ auction.name }}</h1>

    <!-- Licit price and buttons -->
    <div class="licit-ui">
      <h2 class="price">${{ auction.price }}</h2>
      <div class="licit-button-group">
        <p class="licit-amount">{{ auction.licit }}</p>
        <button class="licit-button" (click)="makeLicit()">Licitalok</button>
        <div class="licit-change-group">
          <button (click)="increase()">+</button>
          <button (click)="decrease()">-</button>
        </div>
      </div>
    </div>

    <!-- User activities -->
    <div class="user-activites">
      <h2>Felhasznaloi tevekenysegek</h2>
      <p>User A: Emelte az arat 90 dollarral</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>